*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/build.gradle
/app/src/androidTest/java/com/example/mytax/ExampleInstrumentedTest.java
/app/src/main/AndroidManifest.xml
/app/src/test/java/com/example/mytax/ExampleUnitTest.java
/app/google-services.json
/app/src/main/res/layout/activity_main.xml
/app/src/main/res/values/strings.xml
